.wrapper_input{
    position: relative;
    display: inline-block;
    --clear-width: 35px;
    --border-width-input: 3px;
}
.input{
    min-width: 320px;
    padding: 10px 15px;
    padding-right: calc(var(--clear-width) + 10px) ;
    border: var(--border-width-input) solid var(--color-gray);
    outline: none;
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-md);
    font-family: var(--font-family-name);
    box-sizing: border-box;
}
input:focus{
    border-color: var(--color-blue);
}

input::placeholder{
    color: var(--color-lightgray);
}
.clear{
    position: absolute;
    width: var(--clear-width);
    display: flex;
    align-items: center;
    justify-content: center;
    right: var(--border-width-input);
    padding: 0 5px;
    top: 0;
    bottom: 0;
    opacity: 1;
    cursor: pointer;
    box-sizing: border-box;
    transition: var(--transition)
}
.clear_active{
    opacity: 0.5;
}
.clear img{
    width: 100%;
}