:root {
    --color-white: #fff;
    --color-black: #000;
    --color-dark-gray: #010101;
    --color-yellow: #ffff00;
    --color-blue: #6a83fb;
    --color-violet: #ae72c2;
    --color-red: #f75d83;

    --width-max: 1200px;

   
   --spacing-lg: 30px;
   --spacing-md: 20px;
   --spacing-sm: 10px;
   --spacing-xs: 5px;

   --margin-list: 7px;

   --transition: 0.4s;

   --font-family-main: "Arial", sans-serif;;
   --font-bold: 700;
   --font-size-main: 16px;
   --font-size-subheader: 20px;

   --font-size-header: 36px;

   --text-shadow-yellow: 0 0 2px var(--color-white), 0 0 40px var(--color-yellow);
   --text-shadow-blue: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);

    --border-radius-sm: 3px;
    --border-radius-md: 5px;
    --border-radius-lg: 10px;

    /* THEMES */
    --theme-light-header: #ffffff;
    --theme-dark-header: #e7c035;
    --theme-neitral-header: #ffffff;
    --theme-default-header: var(--theme-neitral-header);

    --theme-light-active: #3a8dd9;
    --theme-dark-active: #ffffff;
    --theme-neitral-active: #ae72c2;
    --theme-default-active: var(--theme-neitral-active);


    --theme-light-bgimage: url(@static/light.jpg);
    --theme-dark-bgimage: url(@static/dark.jpg);
    --theme-neitral-bgimage: url(@static/neitral.jpg);
    --theme-default-bgimage: var( --theme-neitral-bgimage);

    --theme-light-shadow:  0 0 2px var(--color-white), 0 0 40px var(--theme-light-active);
    --theme-dark-shadow:  0 0 2px var(--color-white), 0 0 40px var(--theme-dark-active);
    --theme-neitral-shadow:  0 0 2px var(--color-white), 0 0 40px var(--theme-neitral-active);
    --theme-default-shadow: var(--theme-neitral-shadow)

    
   
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  font-size: var(--font-size-main);
  color: var(--color-white);
  background-color: var(--color-dark-gray);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-attachment: fixed;
}
img{
    display: block;
}
*{
    box-sizing: border-box;
}
.title {
    line-height: 1.7;
    font-size: var(--font-size-header);
    text-shadow: var(--theme-default-shadow);
    color: var(--theme-default-header);
    transition: color var(--transition)
}


