.container{
   

    position: relative;
    flex-shrink: 0;
}
.counter{
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: var(--font-bold);
    font-size: 13px;
    background-color: var(--theme-default-header);
    border-radius: 50%;
    color: var(--theme-default-active)
   

}
.icon{
    width: 35px;
    height: 45px;
}
.icon_neitral{
    background: url(./img/neitral.svg) no-repeat  center top/ contain;
}
.icon_dark{
    background: url(./img/dark.svg) no-repeat  center top/ contain;
}
.icon_light{
    background: url(./img/light.svg) no-repeat  center top/ contain;
}
