.link{
    display: inline-flex;
    align-items: center;
    margin-top: var(--spacing-sm);
    font-weight: var(--font-bold);
    text-decoration: none;
    color: var(--color-yellow)
}
.link__icon{
    width: 30px;
    height: 30px;
    margin-right: var(--spacing-sm);
    object-fit: contain;
    object-position: center center;
}